<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head::head_section('新增活动')">
</head>

<body data-type="widgets">
    <script th:src="@{/assets/js/theme.js}"></script>
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <div th:replace="fragments/header::header_section(Admin)"></div>
        <!-- 风格切换 -->
        <div th:replace="fragments/theme::theme_section"></div>
        <!-- 侧边导航栏 -->
        <div th:replace="fragments/left_admin::left_section('activityList')"></div>

        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">

                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">新增活动 </div>
                                <div class="widget-function am-fr">
                                    <!--<a href="javascript:;" class="am-icon-cog"></a>-->
                                </div>
                            </div>
                            <div class="widget-body am-fr">

                                <form class="am-form tpl-form-border-form tpl-form-border-br" id="addActivityForm" action="#">

                                    <div id="activityContent">

                                    <div class="am-form-group">
                                        <label for="activityName" class="am-u-sm-3 am-form-label">活动名称</label>
                                        <div class="am-u-sm-7">
                                            <input name="activityName"type="text" class="tpl-form-input" id="activityName" placeholder="输入活动名称">
                                        </div>
                                        <div class="am-u-sm-2">
                                            <a class="am-icon-plus-circle am-text-success plus-row" href="javascript:;"></a>
                                        </div>
                                    </div>

                                    </div>

                                    <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success">提交</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div th:replace="fragments/footer::js"></div>
</body>

<!--jquery验证-->
<script th:src="@{/js/jquery.validate.min.js}"></script>
<script th:src="@{/js/messages_zh.min.js}"></script>

<script th:src="@{/js/l-validate.js}"></script>

<script>

    //移除一行
    function removeGroup(v){
        $(v).closest(".am-form-group").remove();
    }

    //显示修改按钮
    function showPencil(v) {
        $(v).find('.am-icon-pencil').show();
    }

    //隐藏修改按钮
    function hidePencil(v) {
        $(v).find('.am-icon-pencil').hide();
    }

    //切换下拉框显示
    function dropdownToggle(v) {

        var $dropdown = $(v).closest('.doc-dropdown-js');

        var $label = $dropdown.find('.my-label');

        var $input = $dropdown.find('.my-input');

        //label显示的文本
        var labelText = $label.text();

        //设置input的值
        $input.val(labelText);

        $dropdown.dropdown('toggle');
    }

    //点击下拉框确定事件
    function confirmDropdown(v) {
        var $dropdown = $(v).closest('.doc-dropdown-js');

        var $label = $dropdown.find('.my-label');

        var $input = $dropdown.find('.my-input');

        var v = $input.val();

        //如果为空，点确定不关闭下拉框
        if (v==''){
            return;
        }

        //设置label的值
        $label.text(v);

        //关闭
        $dropdown.dropdown('close');
    }

    //关闭下拉框
    function closeDropdown(v) {
        var $dropdown = $(v).closest('.doc-dropdown-js');
        $dropdown.dropdown('close');
    }

    $(function() {

        $("#addActivityForm").validate({
            rules:{
                activityName: {
                    required: true,
                    remote: {
                        url: '/activity/exist',
                        type: "post",
                        dataType: "json",
                        data: {
                            activityName: function () {
                                return $("#activityName").val();
                            }
                        }
                    }
                }
            },
            submitHandler:function(form){

                //把每个inputDef的name设为同个值
                $('#addActivityForm .inputDef').each(function() {
                    $(this).attr('name', 'inputDef');
                });

                var myform = $("#addActivityForm");

                //ajax提交form
                formAjaxNoReload(myform,"/activity/save");
            }
        });

        //解决多个相同的Name 只验证第一个的方案。把每个inputDef的name设为不同的值
        var inputDefCount=0;
        //增加一行
        $(".plus-row").on('click',function(){
            var $group="                  <div class=\"am-form-group\" onmouseover='showPencil(this)' onmouseout='hidePencil(this)'>\n" +
                "                                            <div class=\"am-u-sm-3 am-form-label\">\n" +
                "                                                <div class=\"am-dropdown doc-dropdown-js\">\n" +
                "                                                    <span class=\"am-icon-pencil\" style='display: none' onclick=\"dropdownToggle(this)\"></span><label class=\"am-form-label my-label\">未定义</label>\n" +
                "                                                    <div class=\"am-dropdown-content\">\n" +
                "                                                        <li class=\"am-text-sm\">编辑</li>\n" +
                "                                                        <li>\n" +
                "                                                            <div class=\"am-input-group am-input-group-sm\">\n" +
                "                                                                <input type=\"text\" name=\"labelDef\" value=\"未定义\" class=\"am-form-field my-input\">\n" +
                "                                                            </div>\n" +
                "                                                        </li>\n" +
                "                                                        <li>\n" +
                "                                                            <a type=\"button\" class=\"am-btn am-btn-success am-btn-sm\" href='javascript:;' onclick='confirmDropdown(this)'>确定</a>\n" +
                "                                                            <a type=\"button\" class=\"am-btn am-btn-danger am-btn-sm\" href='javascript:;' onclick='closeDropdown(this)'>取消</a>\n" +
                "                                                        </li>\n" +
                "                                                    </div>\n" +
                "                                                </div>\n" +
                "                                            </div>\n" +
                "                                            <div class=\"am-u-sm-7\">\n" +
                "                                                <input type=\"text\" name=\"inputDef" + (inputDefCount++) + "\" class=\"tpl-form-input inputDef \" required>\n" +
                "                                            </div>\n" +
                "                                            <div class=\"am-u-sm-2\">\n" +
                "                                                <a class=\"am-icon-minus-circle am-text-danger minus-row\" onclick='removeGroup(this)' href='javascript:;'></a>\n" +
                "                                            </div>\n" +
                "                                        </div>";
            $("#activityContent .am-form-group:last").after($group);
        });

    });
</script>

</html>