<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head::head_section('新增管理员')">
</head>

<body data-type="widgets">
    <script th:src="@{/assets/js/theme.js}"></script>
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <div th:replace="fragments/header::header_section(Admin)"></div>
        <!-- 风格切换 -->
        <div th:replace="fragments/theme::theme_section"></div>
        <!-- 侧边导航栏 -->
        <div th:replace="fragments/left_admin::left_section('adminList')"></div>

        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">

                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">新增管理员 </div>
                                <div class="widget-function am-fr">
                                    <!--<a href="javascript:;" class="am-icon-cog"></a>-->
                                </div>
                            </div>
                            <div class="widget-body am-fr">

                                <form class="am-form tpl-form-border-form tpl-form-border-br" id="addAdminForm" action="#" th:object="${admin}">

                                    <div class="am-form-group">
                                        <label for="jobNum" class="am-u-sm-3 am-form-label">工号</label>
                                        <div class="am-u-sm-9">
                                            <!--本地验证和ajax验证-->
                                            <input name="jobNum" type="number" class="tpl-form-input" id="jobNum" placeholder="输入工号(6位)"/>
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label for="name" class="am-u-sm-3 am-form-label">姓名</label>
                                        <div class="am-u-sm-9">
                                            <input name="name"type="text" class="tpl-form-input" id="name" placeholder="输入姓名">
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label for="password" class="am-u-sm-3 am-form-label">密码</label>
                                        <div class="am-u-sm-9">
                                            <input name="password" type="password" class="tpl-form-input" id="password" placeholder="输入密码(6-10位)">
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label for="passwordCfm" class="am-u-sm-3 am-form-label">确认密码</label>
                                        <!--data-equal-to密码验证-->
                                        <div class="am-u-sm-9">
                                            <input name="passwordCfm" type="password" class="tpl-form-input" id="passwordCfm" placeholder="再次输入密码">
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label for="canLogin" class="am-u-sm-3 am-form-label">允许登陆</label>
                                        <div class="am-u-sm-9">
                                            <div class="tpl-switch">
                                                <!--被选择value为yes、否则为null-->
                                                <input type="checkbox" id="canLogin" class="ios-switch bigswitch tpl-switch-btn" value="yes" name="canLogin">
                                                <div class="tpl-switch-btn-view">
                                                    <div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success">提交</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div th:replace="fragments/footer::js"></div>
</body>

<!--jquery验证-->
<script th:src="@{/js/jquery.validate.min.js}"></script>
<script th:src="@{/js/messages_zh.min.js}"></script>

<script th:src="@{/js/l-validate.js}"></script>

<script>

    $(function() {

        // 提交时验证表单，small元素包裹错误信息
        $("#addAdminForm").validate({
            rules:{
                jobNum: {
                    required: true,
                    remote: {
                        url: '/admin/exist',
                        type: "post",
                        dataType: "json",
                        data: {
                            jobNum: function () {
                                return $("#jobNum").val();
                            }
                        }
                    }
                }
            },
            submitHandler:function(form){
                var myform = $("#addAdminForm");
                //ajax提交form
                myFormAjax(myform,"/admin/save");

            }
        });
    });
</script>

</html>