<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head::head_section('新增管理员')">
</head>

<body data-type="widgets">
    <script th:src="@{/assets/js/theme.js}"></script>
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <div th:replace="fragments/header::header_section(Admin)"></div>
        <!-- 风格切换 -->
        <div th:replace="fragments/theme::theme_section"></div>
        <!-- 侧边导航栏 -->
        <div th:replace="fragments/left_admin::left_section('adminList')"></div>

        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">

                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">新增管理员 </div>
                                <div class="widget-function am-fr">
                                    <a href="javascript:;" class="am-icon-cog"></a>
                                </div>
                            </div>
                            <div class="widget-body am-fr">

                                <form class="am-form tpl-form-border-form tpl-form-border-br" id="doc-vld-msg">

                                    <div class="am-form-group">
                                        <label for="user-jobNum" class="am-u-sm-3 am-form-label">工号</label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input js-ajax-validate" id="user-jobNum" placeholder="输入工号" data-validate-async />
                                       <!--     <small>请填写工号10-20字左右。</small>-->
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">姓名</label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input js-sync-validate" id="user-name" placeholder="输入姓名">
                                    <!--        <small>请填写姓名10-20字左右。</small>-->
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label for="user-password" class="am-u-sm-3 am-form-label">密码</label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" id="user-password" placeholder="输入密码">
                                      <!--      <small>请填写密码10-20字左右。</small>-->
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label for="user-passwordCfm" class="am-u-sm-3 am-form-label">确认密码</label>
                                        <!--data-equal-to密码验证-->
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" id="user-passwordCfm" placeholder="再次输入密码" data-equal-to="#user-password">
                             <!--               <small>请填写密码10-20字左右。</small>-->
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label for="doc-form-file" class="am-u-sm-3 am-form-label">图片</label>
                                        <div class="am-u-sm-9">
                                            <div class="am-form-group am-form-file">
                                                <div class="tpl-form-file-img">
                                                    <img th:src="@{/assets/img/user07.png}" alt="">
                                                </div>
                                                <button type="button" class="am-btn am-btn-danger am-btn-sm">
                                                    <i class="am-icon-cloud-upload"></i> 添加图片</button>
                                                <input id="doc-form-file" type="file" multiple="">
                                            </div>

                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label for="user-intro" class="am-u-sm-3 am-form-label">允许登陆</label>
                                        <div class="am-u-sm-9">
                                            <div class="tpl-switch">
                                                <input type="checkbox" id="user-intro" class="ios-switch bigswitch tpl-switch-btn" checked="">
                                                <div class="tpl-switch-btn-view">
                                                    <div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                            <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div th:replace="fragments/footer::js"></div>
</body>
<script>
        $(function() {
            $('#doc-vld-msg').validator({
                validate: function(validity) {
                    //得到输入的值
                    var v = $(validity.field).val();

                    var disp = function(data) {
                        if (data.rspCode == '000101') {
                            //000101工号存在,验证失败
                            //打开错误提示
                            var $field = $(validity.field);
                            //找到输入框的父div
                            //var $group = $field.closest('.am-form-group');
                            var $group = $field.closest('div');
                            var $alert = $group.find('.am-text');
                            // 使用自定义的提示信息 或 插件内置的提示信息
                            //var msg = $field.data('validationMessage') || this.getValidationMessage(validity);
                            var msg = data.rspMsg;
                            //如果没有alert，进入创建alert
                            if (!$alert.length) {
                                //把$alert追加到$group后
                                //am-text am-text-success
                                $alert = $('<small class="am-text am-text-danger"></small>').hide().
                                appendTo($group);
                            }
                            $alert.html(msg).show();
                            validity.valid = false;
                        }else if(data.rspCode == '000102'){
                            //000102工号不存在,验证成功
                            // 验证成功
                            //关闭错误提示
                            $(validity.field).closest('div').find('.am-text').hide();
                            validity.valid = true;
                        }
                    };

                    // Ajax 验证
                    if ($(validity.field).is('.js-ajax-validate')) {
                        // 异步操作必须返回 Deferred 对象
                        return $.ajax({
                            url: '/admin/exist/'+v,
                            cache: false, //实际使用中请禁用缓存
                            //dataType: 'json'
                        }).then(function(data) {
                            disp(data);
                            return validity;
                        }, function() {
                            return validity;
                        });
                    }

                    // 本地验证，同步操作，无需返回值
                    if ($(validity.field).is('.js-sync-validate')) {
                        //comparer(10, v);
                        // return validity;
                    }
                }
            });
        });
</script>
</html>