<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head::head_section('人员管理')">
</head>

<body data-type="widgets">
    <script th:src="@{/assets/js/theme.js}"></script>
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <div th:replace="fragments/header::header_section(Admin)"></div>
        <!-- 风格切换 -->
        <div th:replace="fragments/theme::theme_section"></div>
        <!-- 侧边导航栏 -->
        <div th:replace="fragments/left_admin::left_section('adminList')"></div>

        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">

            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title  am-cf">管理员列表</div>
                            </div>
                            <div class="widget-body  am-fr">
                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                    <div class="am-form-group">
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <a type="button" class="am-btn am-btn-default am-btn-success" href="/admin/addView"><span class="am-icon-plus"></span> 新增</a>
                                                <button type="button" class="am-btn am-btn-default am-btn-danger" id="checked-del"><span class="am-icon-trash-o"></span> 删除</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                                    <div class="am-form-group tpl-table-list-select">
                                        <select data-am-selected="{btnSize: 'sm'}">
                                          <option value="option1">类别</option>
                                          <option value="option2">工号</option>
                                          <option value="option3">姓名</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                    <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                        <input type="text" class="am-form-field ">
                                        <span class="am-input-group-btn">
            <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button"></button>
          </span>
                                    </div>
                                </div>

                                <div class="am-u-sm-12">
                                    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="table-list">
                                        <thead>
                                            <tr>
                                                <th><input id="allChecked" type="checkbox" value="all"/></th>
                                                <th>序号</th>
                                                <th>工号</th>
                                                <th>姓名</th>
                                                <th>最近一次登陆</th>
                                                <th>状态</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="admin:${admins}">
                                                <td><input type="checkbox" th:value="${admin.adminId}" name="che"/></td>
                                                <td th:text="${admin.adminId}">1</td>
                                                <td th:text="${admin.jobNum}">123456</td>
                                                <td th:text="${admin.name}">测试管理员一</td>
                                                <td th:text="${admin.lastTime}">2016-09-26</td>
                                                <td th:text="${admin.canLogin.name}">是否允许登陆</td>
                                                <td>
                                                    <div class="tpl-table-black-operation">
                                                        <a th:attr="data-id=${admin.adminId}" href="javascript:;" class="one-update">
                                                            <i class="am-icon-pencil"></i> 编辑
                                                        </a>
                                                        <a th:attr="data-id=${admin.adminId}" href="javascript:;" class="tpl-table-black-operation-del one-del">
                                                            <i class="am-icon-trash"></i> 删除
                                                        </a>
                                                        <a th:attr="data-id=${admin.adminId}" href="javascript:;" class="one-detail">
                                                            <i class="am-icon-cog"></i> 详细
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--分页-->
                            <!--    <div class="am-u-lg-12 am-cf">
                                    <div class="am-fr">
                                        <ul class="am-pagination tpl-pagination">
                                            <li class="am-disabled"><a href="#">«</a></li>
                                            <li class="am-active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">»</a></li>
                                        </ul>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--alert-->
    <div th:replace="fragments/alert::alert_section"></div>

    <div th:replace="fragments/footer::js"></div>
</body>

<script>
    $(function() {
    // 修改
        $(".one-update").on('click',function () {
            var v = $(this).data('id');
            window.location.href="/admin/updateView/"+v;
        });

        // 详细
        $(".one-detail").on('click',function () {
            var v = $(this).data('id');
            window.location.href="/admin/datailView/"+v;
        });

        //删除
        $(".one-del").on('click',function () {
            //当前元素查找父级元素
            var $tr = $(this).closest('tr');
            //获得工号
            var jobNum = $tr.find('td').eq(2).html();
            //获得密码
            var name = $tr.find('td').eq(3).html();

            $("#my-confirm-hd").text("删除管理员");

            $("#my-confirm-bd").html("工号：" + jobNum+"<br/> 用户名："+name);

            $('#my-confirm').modal({
                relatedTarget: this,
                onConfirm: function(options) {
                   var $link = $(this.relatedTarget);
                   var id = $link.data('id');
                    $.ajax({
                        async: false,
                        type: 'POST',
                        dataType: 'json',
                        data:{
                            adminId:id
                        },
                        url: '/admin/delete',
                        error : function(XMLHttpRequest, textStatus, errorThrown) {
                            toastr.error('出现错误！', '错误');
                        },
                        success: function(data){
                            if(data.rspCode == '000000') {
                                toastr.success('删除管理员成功！', '操作成功');
                                location.reload();
                            }else if(data.rspCode == '000202'){
                                toastr.error(data.rspMsg, '操作失败');
                            }
                            else {
                                toastr.error('删除管理员失败！', '操作失败');
                            }
                        }
                    });

                },
                // closeOnConfirm: false,
                onCancel: function() {
                }
            });
        });


        //全选
        $('#allChecked').change(function(){
            $('#table-list').find(':checkbox').prop('checked',$(this).is(':checked')?true:false);
        });

        //删除已选择
        $("#checked-del").on('click',function () {
            var checkedId = new Array();
            $("input:checkbox[name='che']:checked").each(function() {
                checkedId.push($(this).val());
            });

            $("#my-confirm-hd").text("批量删除");

            $("#my-confirm-bd").html("");

            $('#my-confirm').modal({
                onConfirm: function(options) {

                    $.ajaxSettings.traditional=true;
                    $.ajax({
                        async: false,
                        type: 'POST',
                        dataType: 'json',
                        data:{
                            adminId:checkedId
                        },
                        url: '/admin/delete',
                        error : function(XMLHttpRequest, textStatus, errorThrown) {
                            toastr.error('出现错误！', '错误');
                        },
                        success: function(data){
                            if(data.rspCode == '000000') {
                                toastr.success('批量删除成功！', '操作成功');
                                location.reload();
                            }
                            else if(data.rspCode == '000202'){
                                toastr.error(data.rspMsg, '操作失败');
                            }
                            else {
                                toastr.error('批量删除失败！', '操作失败');
                            }
                        }
                    });

                },
                // closeOnConfirm: false,
                onCancel: function() {
                }
            });

        });

    });
</script>
</html>