<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head::head_section('人员管理')">

</head>

<body data-type="widgets">
    <script th:src="@{/assets/js/theme.js}"></script>
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <div th:replace="fragments/header::header_section"></div>
        <!-- 风格切换 -->
        <div th:replace="fragments/theme::theme_section"></div>
        <!-- 侧边导航栏 -->
        <div th:replace="fragments/left_admin::left_section('adminList')"></div>

        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <!-- 欢迎 -->
            <div th:replace="fragments/header::welcome_section"></div>

            <ol class="zz-breadcrumb">
              <li><a href="/admin/adminList" class="am-icon-user">人员管理</a></li>
              <li class="zz-active">管理员列表</li>
            </ol>

            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title  am-cf">管理员列表</div>
                            </div>
                            <div class="widget-body  am-fr">
                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                    <div class="am-form-group">
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <a type="button" class="am-btn am-btn-default am-btn-success" href="/admin/addView"><span class="am-icon-plus"></span> 新增</a>
                                                <a type="button" class="am-btn am-btn-default am-btn-danger" href="javascript:;" id="checked-del"><span class="am-icon-trash-o"></span> 删除</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div th:replace="fragments/user_search::comm_content"></div>

                                <div class="am-u-sm-12">
                                    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
                                        <thead>
                                            <tr>
                                                <th><input type="checkbox"/></th>
                                                <th>序号</th>
                                                <th>工号</th>
                                                <th>姓名</th>
                                                <th>最近一次登陆</th>
                                                <th>邮箱</th>
                                                <th>状态</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="admin,iterStat:${datas}">
                                                <td><input type="checkbox" th:value="${admin.adminId}"/></td>
                                                <!--<td th:text="${admin.adminId}">1</td>-->
                                                <td th:text="${iterStat.count}+${datas.number*10}">序号1</td>
                                                <td th:text="${admin.jobNum}">123456</td>
                                                <td th:text="${admin.name}">测试管理员一</td>
                                                <td th:text="${admin.lastTime}">2016-09-26</td>
                                                <td>
                                                    <span th:text="${admin.email}">
                                                    529055293@qq.com
                                                    </span>
                                                    <span class="zz-task">
                                                        <span class="label label-sm" th:if="${(admin.email != null)&&(admin.email != '')}" th:text="${(admin.verify != null)}?${admin.verify.name}:''" th:classappend="(${admin.verify.toString()} eq 'yes')?'label-success':'label-warning'">未验证</span>
                                                    </span>
                                                </td>
                                                <td th:text="${admin.canLogin.name}">是否允许登陆</td>
                                                <td>
                                                    <div class="am-dropdown" data-am-dropdown>
                                                        <div class="tpl-table-black-operation">
                                                            <a href="javascript:;" class="am-dropdown-toggle" data-am-dropdown-toggle>
                                                                <i class="am-icon-pencil"></i> 编辑
                                                            </a>
                                                            <a th:attr="data-id=${admin.adminId}" href="javascript:;" class="tpl-table-black-operation-del one-del">
                                                                <i class="am-icon-trash"></i> 删除
                                                            </a>
                                                            <a th:attr="data-id=${admin.adminId}" href="javascript:;" class="one-detail">
                                                                <i class="am-icon-cog"></i> 详细
                                                            </a>
                                                        </div>
                                                        <ul class="am-dropdown-content">
                                                            <li><a th:attr="data-id=${admin.adminId}" href="javascript:;" class="one-canLogin" th:text="(${admin.canLogin.toString()} eq 'yes')?'禁止登陆':'允许登陆'">是否允许登陆</a></li>
                                                            <li ><a th:attr="data-id=${admin.adminId}" href="javascript:;" class="one-resetPwd" >重置密码</a></li>
                                                            <li ><a th:attr="data-id=${admin.adminId}" href="javascript:;" class="one-update" >修改基本信息</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--分页-->
                                <div th:replace="fragments/page::page(${datas})"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="am-modal am-modal-confirm" tabindex="-1" id="updatePwd-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">重置密码
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <br/>
                </div>
                <form class="am-form tpl-form-border-form tpl-form-border-br" id="updatePwdForm" action="#">
                    <input name="adminId" id="adminId" type="hidden">
                    <div class="am-form-group">
                        <label for="password" class="am-u-sm-3 am-form-label">重置密码</label>
                        <div class="am-u-sm-9">
                            <input name="password" type="password" class="tpl-form-input" id="password" placeholder="输入密码(6-10位)">
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="passwordCfm" class="am-u-sm-3 am-form-label">确认密码</label>
                        <!--data-equal-to密码验证-->
                        <div class="am-u-sm-9">
                            <input name="passwordCfm" type="password" class="tpl-form-input" id="passwordCfm" placeholder="再次输入密码">
                        </div>
                    </div>
                </form>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>

    <!--alert-->
    <div th:replace="fragments/alert::alert_user_delete"></div>

    <div th:replace="fragments/footer::js"></div>
</body>

<!--jquery验证-->
<script th:src="@{/js/jquery.validate.min.js}"></script>
<script th:src="@{/js/messages_zh.min.js}"></script>

<script th:src="@{/js/l-validate.js}"></script>

<script th:src="@{/js/l-checked.js}"></script>
<script th:src="@{/js/l-modalAjax.js}"></script>

<script>
    $(function() {

        //管理员id
        var adminId;

        // 头部搜索
        $("#head-select-btn").on('click',function(){
            var key = $("#head-select-key").val();
            var input = $("#head-select-input").val().trim();
            if (input != ''){
                window.location.href="/admin/adminList/"+key+"/"+input;
            }
            if(input == ''){
                window.location.href="/admin/adminList";
            }
        });

    // 修改
        $(".one-update").on('click',function () {
            var v = $(this).data('id');
            window.location.href="/admin/updateView/"+v;
        });

        // 详细
        $(".one-detail").on('click',function () {
            var v = $(this).data('id');
            window.location.href="/admin/datailView/"+v;
        });

        //删除
        $(".one-del").on('click',function () {
            //当前元素查找父级元素
            var $tr = $(this).closest('tr');
            //获得工号
            var jobNum = $tr.find('td').eq(2).html();
            //获得姓名
            var name = $tr.find('td').eq(3).html();

            var $oneDel= $('#oneDel-modal');

            //设置工号、姓名
            $oneDel.find("#jobNum").text(jobNum);

            $oneDel.find("#name").text(name);

            adminId = $(this).data('id');

            $oneDel.modal();

        });

        //重写删除用户模态框的确认方法
        $("#oneDel-modal").find('[data-am-modal-confirm]').off('click.confirm.modal.amui').on('click', function() {
            idAjaxReload('/admin/delete',adminId);
        });

        //删除已选择
        $("#checked-del").on('click',function () {

            adminId = checkedIds();

            $('#mulDel-modal').modal();

        });

        //重写批量删除用户模态框的确认方法
        $("#mulDel-modal").find('[data-am-modal-confirm]').off('click.confirm.modal.amui').on('click', function(){
            idAjaxReload('/admin/delete',adminId);
        });

        //切换是否允许登陆状态
        $(".one-canLogin").on('click',function() {
            var id = $(this).data('id');
            idAjaxReload('/admin/changeCanLogin',id);
        });


        //重置密码,打开模态框
        $(".one-resetPwd").on('click',function(){
            var id = $(this).data('id');
            //为表单adminId赋值
            $("#adminId").val(id);
            $('#updatePwd-modal').modal({
                relatedTarget: this,
                closeOnConfirm: false,
                onConfirm: function(options) {
                    var v = $("#updatePwdForm").valid();
                    // 验证通过，提交并关闭模态框
                    if(v){
                        $("#updatePwdForm").submit();
                        this.close();
                    }
                }
            });
        });

        //设置重置密码模态框关闭时，执行重置表单
        $('#updatePwd-modal').on('close.modal.amui', function(){
            //重置表单
            $("#updatePwdForm")[0].reset();
        });

        //密码验证
        $("#updatePwdForm").validate({
            submitHandler:function(form){
                var myform = $("#updatePwdForm");
                //ajax提交form
                formAjaxNoReload(myform,"/admin/update/2");
            }
        });

    });
</script>
</html>