<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<body>
<!--此页面是加载年龄范围选择-->
    <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
        <select data-am-selected="{btnSize: 'sm',maxHeight: 200}" id="head-select-age">
            <option value="-1">所有</option>
            <option th:each="ageRange:${ageRanges}" th:value="${ageRange.ageRangeId}" th:text="|${ageRange.minAge}-${ageRange.maxAge}岁|">80-90岁</option>
        </select>
        <span class="am-input-group-btn">
            <button id="head-select-btn2" class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button"></button>
          </span>
    </div>
</body>
<script>
    $(function () {
        $("#head-select-btn2").on('click',function(){
                 var key = $("#head-select-key").val();
                 var input = $("#head-select-age").val();
                 if (input != ''){
                     window.location.href="/age/ageList/"+key+"/"+input;
                 }
                 if(input == ''){
                     window.location.href="/age/ageList";
                 }
        });
    });
</script>
</html>