<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head::head_section('年龄统计')">
</head>

<body data-type="widgets">
<script th:src="@{/assets/js/theme.js}"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    <div th:replace="fragments/header::header_section(Admin)"></div>
    <!-- 风格切换 -->
    <div th:replace="fragments/theme::theme_section"></div>
    <!-- 侧边导航栏 -->
    <div th:replace="fragments/left_admin::left_section('ageList')"></div>

    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">

        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">年龄统计</div>
                        </div>
                        <div class="widget-body  am-fr">
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                <div class="am-form-group">
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <button type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                                <div class="am-form-group tpl-table-list-select">
                                    <select data-am-selected="{btnSize: 'sm'}">
                                        <option value="option1">工号</option>
                                        <option value="option2">姓名</option>
                                    </select>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                    <input type="text" class="am-form-field ">
                                    <span class="am-input-group-btn">
            <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button"></button>
          </span>
                                </div>
                            </div>

                            <div class="am-u-sm-12">
                                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                    <thead>
                                    <tr>
                                        <th><input type="checkbox"/></th>
                                        <th>序号</th>
                                        <th>工号</th>
                                        <th>姓名</th>
                                        <th>性别</th>
                                        <th>组别</th>
                                        <th>职务</th>
                                        <th>部门</th>
                                        <th>出生日期</th>
                                        <th>退休日期</th>
                                        <th>年龄</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user:${datas.content}">
                                        <td><input type="checkbox" th:value="${user.userId}" /></td>
                                        <td th:text="${user.userId}">1</td>
                                        <td th:text="${user.jobNum}">123456</td>
                                        <td th:text="${user.name}">张三</td>
                                        <td th:text="${user.gender.name}">性别</td>
                                        <td th:text="${user.group.groupName}">组一</td>
                                        <td th:text="${user.duty.dutyName}" >职务</td>
                                        <td th:text="${user.department.departmentName}" >部门</td>
                                        <td th:text="${user.birth}" >2018-5-4</td>
                                        <td th:text="${user.retireTime}" >2018-5-5</td>
                                        <td th:text="${user.age}" >50</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--分页-->
                            <div th:replace="fragments/page::page(${datas})"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
    <div th:replace="fragments/footer::js"></div>
</body>

</html>