<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head::head_section('活动管理')">

</head>

<body data-type="widgets">
<script th:src="@{/assets/js/theme.js}"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    <div th:replace="fragments/header::header_section(Admin)"></div>
    <!-- 风格切换 -->
    <div th:replace="fragments/theme::theme_section"></div>
    <!-- 侧边导航栏 -->
    <div th:replace="fragments/left_admin::left_section('draftList')"></div>

    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">

        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-cf">草稿列表</div>
                        </div>
                        <div class="widget-body  am-fr">
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                <div class="am-form-group">
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <a type="button" class="am-btn am-btn-default am-btn-success" href="/activity/addActivityView"><span class="am-icon-plus"></span> 新增</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                                <div class="am-form-group tpl-table-list-select">
                                    <select data-am-selected="{btnSize: 'sm'}">
                                        <option value="option1">类别</option>
                                        <option value="option2">工号</option>
                                        <option value="option3">姓名</option>
                                    </select>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                    <input type="text" class="am-form-field ">
                                    <span class="am-input-group-btn">
            <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button"></button>
          </span>
                                </div>
                            </div>

                            <div class="am-u-sm-12">
                                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " th:each="activity:${activities}">
                                    <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>活动名称</th>
                                        <th th:each="labelDef:${activity.labelDefs}" th:text="${labelDef}">labelDefs</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td th:text="${activity.activityId}">1</td>
                                        <td th:text="${activity.activityName}">活动一</td>
                                        <td th:each="defs:${activity.inputDefss}">
                                            <select data-am-selected="{btnSize: 'sm'}">
                                                <option th:each="def:${defs}" th:value="${def}" th:text="${def}">自定义列 </option>
                                            </select>
                                        </td>
                                        <td th:text="${activity.activityStatus.name}">草稿活动</td>
                                        <td>
                                              <div class="am-dropdown" data-am-dropdown>
                                                  <div class="tpl-table-black-operation">
                                                      <a href="javascript:;" class="am-dropdown-toggle" data-am-dropdown-toggle>
                                                          <i class="am-icon-pencil"></i> 编辑
                                                      </a>
                                                  </div>
                                                  <ul class="am-dropdown-content">
                                                      <li ><a th:attr="data-id=${activity.activityId}" href="javascript:;" class="one-publish" >发布</a></li>
                                                      <li ><a th:attr="data-id=${activity.activityId}" href="javascript:;" class="one-update" >修改</a></li>
                                                      <li ><a th:attr="data-id=${activity.activityId}" href="javascript:;" class="one-delete" >删除</a></li>
                                                  </ul>
                                              </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--分页-->
                            <!--    <div class="am-u-lg-12 am-cf">
                                    <div class="am-fr">
                                        <ul class="am-pagination tpl-pagination">
                                            <li class="am-disabled"><a href="#">«</a></li>
                                            <li class="am-active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">»</a></li>
                                        </ul>
                                    </div>
                                </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--alert-->
<div th:replace="fragments/alert::alert_activity"></div>

<div th:replace="fragments/footer::js"></div>
</body>

<script th:src="@{/js/l-checked.js}"></script>
<script th:src="@{/js/l-modalAjax.js}"></script>

<script>
    $(function() {
        //发布
        $(".one-publish").on('click',function () {
            //当前元素查找父级元素
            var $tr = $(this).closest('tr');
            //设置活动名称
            var name = $tr.find('td').eq(1).html();
            var $onePublish= $('#onePublish-modal');

            $onePublish.find("#publish-activityName").text(name);

            var myId = $(this).data('id');
            oneDelModal($onePublish,'/activity/publish',myId);
        });


        //修改
        $(".one-update").on('click',function () {
            var v = $(this).data('id');
            window.location.href="/activity/updateView/"+v;
        });




        //删除
        $(".one-delete").on('click',function () {
            //当前元素查找父级元素
            var $tr = $(this).closest('tr');
            //设置活动名称
            var name = $tr.find('td').eq(1).html();
            var $onePublish= $('#oneDel-activity-modal');

            $onePublish.find("#del-activityName").text(name);

            var myId = $(this).data('id');
            oneDelModal($onePublish,'/activity/delete',myId);
        });


        /*

                // 详细
                $(".one-detail").on('click',function () {
                    var v = $(this).data('id');
                    window.location.href="/admin/datailView/"+v;
                });

                //删除
                $(".one-del").on('click',function () {
                    //当前元素查找父级元素
                    var $tr = $(this).closest('tr');
                    //获得工号
                    var jobNum = $tr.find('td').eq(2).html();
                    //获得姓名
                    var name = $tr.find('td').eq(3).html();

                    var $oneDel= $('#oneDel-modal');

                    //设置工号、姓名
                    $oneDel.find("#jobNum").text(jobNum);

                    $oneDel.find("#name").text(name);

                    var myId = $(this).data('id');

                    oneDelModal($oneDel,'/admin/delete',myId);

                });

                //删除已选择
                $("#checked-del").on('click',function () {

                    var checkedId = checkedIds();

                    var $mulDel= $('#mulDel-modal');

                    mulDelModal($mulDel,'/admin/delete',checkedId);

                });*/


    });
</script>
</html>