<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<body>
<!--此页面展示用户，用于增加组长功能-->
    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black">
        <thead>
        <tr>
            <th>序号</th>
            <th>工号</th>
            <th>姓名</th>
            <th>组别</th>
            <th>类型</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="userLoad:${usersLoad}">
            <td th:text="${userLoad.userId}">1</td>
            <td th:text="${userLoad.jobNum}">123456</td>
            <td th:text="${userLoad.name}">组长名字</td>
            <td th:text="${userLoad.group.groupName}">组别一</td>
            <td th:text="${userLoad.rank.name}">组长或组员</td>
            <td>
                <div class="tpl-table-black-operation">
                    <a th:attr="data-id=${userLoad.userId}" href="javascript:;" class="one-change" th:text="(${userLoad.rank.toString()} eq 'grouper')?'设为组员':'设为组长'"></a>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
</body>
<script>
    $(function () {
        //改变
        $(".one-change").on('click',function(){
            var id = $(this).data('id');
            $.ajax({
                url: "/grouper/changeRank",
                type: "POST",
                data:{
                    userId:id
                },
                error: function ()
                {
                    console.log("grouper_add error function!");
                    toastr.error('出现错误！', '错误');
                },
                success: function (data)
                {
                    console.log("grouper_add success function!");

                    if(data.rspCode == '000000') {
                        toastr.success('更改用户 Rank成功！', '操作成功');
                    }
                    else {
                        toastr.error('更改用户 Rank失败！', '操作失败');
                    }
                }
            });
            loadContent();
        });
    });
</script>
</html>