<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head::head_section('新建组')">
</head>

<body data-type="widgets">
    <!--theme.js放到这，快速获得缓存的主题-->
    <script th:src="@{/assets/js/theme.js}"></script>
    <div class="am-g tpl-g">
    <!-- 头部 -->
    <div th:replace="fragments/header::header_section(Admin)"></div>
    <!-- 风格切换 -->
    <div th:replace="fragments/theme::theme_section"></div>
    <!-- 侧边导航栏 -->
    <div th:replace="fragments/left_admin::left_section('groupSave')"></div>

    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">

        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        这是新建组页面!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div th:replace="fragments/footer::js"></div>
</body>

</html>