<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head::head_section('首页')">
</head>

<body data-type="widgets">
    <!--theme.js放到这，快速获得缓存的主题-->
    <script th:src="@{/assets/js/theme.js}"></script>
    <div class="am-g tpl-g">
    <!-- 头部 -->
    <div th:replace="fragments/header::header_section(Admin)"></div>
    <!-- 风格切换 -->
    <div th:replace="fragments/theme::theme_section"></div>
    <!-- 侧边导航栏 -->
    <div th:replace="fragments/left_admin::left_section('home')"></div>

    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">

        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                <!--        This is index!-->
                        <div style="margin-left: 30px; margin-top: 30px">
                            <form action="">
                                <h3>用户注册</h3>
                                <p>用户名：<input type="text" name="userName"></p>
                                <p>密码：<input type="password" name="password"></p>
                                <p>邮箱：<input type="text" name="email"></p>
                                <input id="avatar" type="text" value="/static/images/sample.png" name="avatar" style="width: 400px"> {# 实际应用中要将该input标签隐藏，display:none; #}
                                <p><input type="submit" value="注册"></p>
                            </form>
                            <div style="position: absolute; top: 85px; left: 300px;">
                                <input id="avatarSlect" type="file" style="position: absolute;float: left; z-index: 10; opacity: 0;width: 100px; height: 100px;">
                                <img id="avatarPreview" src="/static/images/sample.png" title="点击更换图片" style="position: absolute; z-index: 9; float: left; width: 100px; height: 100px">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

    <!--alert-->
    <div th:replace="fragments/alert::alert_section"></div>

    <div th:replace="fragments/footer::js"></div>
</body>

<script>
    $(function () {
        bindAvatar();
    });
    function bindAvatar() {
        if(window.URL.createObjectURL){
            console.info("This is One!")
            bindAvatar3();
        }/*else if(window.FileReader){
            console.info("This is Two!")
            bindAvatar2();
        }else {
            console.info("This is Three!")
            bindAvatar1();
        }*/
    }
    /*Ajax上传至后台并返回图片的url*/
/*    function bindAvatar1() {
        $("#avatarSlect").change(function () {
            var csrf = $("input[name='csrfmiddlewaretoken']").val();
            var formData=new FormData();
            formData.append("csrfmiddlewaretoken",csrf);
            formData.append('avatar', $("#avatarSlect")[0].files[0]);  /!*获取上传的图片对象*!/
            $.ajax({
                url: '/upload_avatar/',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (args) {
                    console.log(args);  /!*服务器端的图片地址*!/
                    $("#avatarPreview").attr('src','/'+args);  /!*预览图片*!/
                    $("#avatar").val('/'+args);  /!*将服务端的图片url赋值给form表单的隐藏input标签*!/
                }
            })
        })
    }*/
    /*window.FileReader本地预览*/
/*    function bindAvatar2() {
        console.log(2);
        $("#avatarSlect").change(function () {
            var obj=$("#avatarSlect")[0].files[0];
            var fr=new FileReader();
            fr.onload=function () {
                $("#avatarPreview").attr('src',this.result);
                console.log(this.result);
                $("#avatar").val(this.result);
            };
            fr.readAsDataURL(obj);
        })
    }*/
    /*window.URL.createObjectURL本地预览*/
    function bindAvatar3() {
        console.log(3);
        $("#avatarSlect").change(function () {
            var obj=$("#avatarSlect")[0].files[0];
            var wuc=window.URL.createObjectURL(obj);
            $("#avatarPreview").attr('src',wuc);
            $("#avatar").val(wuc);
            /*当图片加载后释放内存空间，但在jQuery3.2.1中会报错。浏览器关闭后也会自动释放*/
            $("#avatarPreview").load(function (){
                window.URL.revokeObjectURL(wuc);
            });
        })
    }
</script>

</html>