<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head::head_section('活动管理')">

</head>

<body data-type="widgets">
<script th:src="@{/assets/js/theme.js}"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    <div th:replace="fragments/header::header_section(Admin)"></div>
    <!-- 风格切换 -->
    <div th:replace="fragments/theme::theme_section"></div>
    <!-- 侧边导航栏 -->
    <div th:replace="fragments/left_admin::left_section('activityList')"></div>

    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">

        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">活动报名</div>
                        </div>
                        <div class="widget-body  am-fr">
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                <div class="am-form-group">
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <!--<a type="button" class="am-btn am-btn-default am-btn-success" href="/activity/addActivityView"><span class="am-icon-plus"></span> 新增</a>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                                <div class="am-form-group tpl-table-list-select">
                                    <select data-am-selected="{btnSize: 'sm'}">
                                        <option value="option1">类别</option>
                                        <option value="option2">工号</option>
                                        <option value="option3">姓名</option>
                                    </select>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                    <input type="text" class="am-form-field ">
                                    <span class="am-input-group-btn">
            <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button"></button>
          </span>
                                </div>
                            </div>

                            <div class="am-u-sm-12">
                                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black" >
                                    <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>工号</th>
                                        <th>姓名</th>
                                        <th>组别</th>
                                        <th>活动名称</th>
                                        <th th:each="labelDef:${joinsDisplay.activity.labelDefs}" th:text="${labelDef}">labelDefs</th>
                                        <th>是否参加</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user:${joinsDisplay.users}">
                                        <td th:text="${user.userId}">序号1</td>
                                        <td th:text="${user.jobNum}">工号123456</td>
                                        <td th:text="${user.name}">姓名张三</td>
                                        <td th:text="${user.group.groupName}">组别组一</td>
                                        <td th:text="${joinsDisplay.activity.activityName}">测试活动</td>
                                        <td th:each="defs:${joinsDisplay.activity.inputDefss}">
                                            <div class="tr-select">
                                                <select data-am-selected="{btnSize: 'sm'}" name="inputDefs">
                                                    <option th:each="def:${defs}" th:value="${def}" th:text="${def}">自定义列 </option>
                                                </select>
                                            </div>
                                        </td>

                                        <td>
                                            <!--<input name="userId" th:field="${user.userId}" type="hidden"/>
                                            <input name="activityId" th:field="${joinsDisplay.activity.activityId}" type="hidden"/>-->

                                            <select data-am-selected="{btnSize: 'sm'}" name="attend" class="attend">
                                                <option value="yes" th:text="参加"></option>
                                                <option value="no" th:text="不参加"></option>
                                            </select>
                                        </td>

                                        <td>
                                            <div class="tpl-table-black-operation">
                                                <a th:attr="data-id=${user.userId}" href="javascript:;" class="one-submit">
                                                    <i class="am-icon-pencil"></i> 提交
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--分页-->
                            <!--    <div class="am-u-lg-12 am-cf">
                                    <div class="am-fr">
                                        <ul class="am-pagination tpl-pagination">
                                            <li class="am-disabled"><a href="#">«</a></li>
                                            <li class="am-active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">»</a></li>
                                        </ul>
                                    </div>
                                </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--alert-->
<div th:replace="fragments/alert::alert_activity"></div>

<div th:replace="fragments/footer::js"></div>
</body>

<script th:src="@{/js/l-checked.js}"></script>
<script th:src="@{/js/l-modalAjax.js}"></script>

<script>
    $(function() {

        //是否参加change事件
        $(".attend").on('change',function(){
            var $tr = $(this).closest('tr');
            var $div =  $tr.find('.tr-select');
            if ($(this).val() == 'no'){
                $div.hide();
            }else {
                $div.show();
            }
        });

        //提交事件
        $(".one-submit").on('click',function () {

            //当前元素查找父级元素
            var $tr = $(this).closest('tr');
            //工号
            var jobNum = $tr.find('td').eq(1).html();
            //姓名
            var name = $tr.find('td').eq(2).html();
            //是否参加
            var attend = $tr.find('.attend option:selected').text();

            var $oneSubmit= $('#oneSubmit-modal');

            $oneSubmit.find("#submit-jobNum").text(jobNum);
            $oneSubmit.find("#submit-name").text(name);
            $oneSubmit.find("#submit-attend").text(attend);

            var userId = $()

            $oneSubmit.modal({
                onConfirm: function(options) {
                    $.ajaxSettings.traditional=true;
                    $.ajax({
                        async: false,
                        type: 'POST',
                        dataType: 'json',
                        data:{
                            id:paramId
                        },
                        url: '/join/joinActivity',
                        error : function(XMLHttpRequest, textStatus, errorThrown) {
                            toastr.error('出现错误！', '错误');
                        },
                        success: function(data){
                            if (data.codeBool){
                                location.reload();
                            }else {
                                toastr.error(data.message, '操作失败');
                            }
                        }
                    });

                }
            });

     /*       $.ajax({
                url: "/join/joinActivity",
                type: "POST",
                data:{
                    id:paramId
                },
                error: function ()
                {
                    console.log("one-submit error function!");
                    toastr.error('出现错误！', '错误');
                },
                success: function (data)
                {
                    if (data.codeBool){
                        location.reload();
                    }else {
                        toastr.error(data.message, '操作失败');
                    }
                }
            });*/
        });

/*        // 修改
        $(".one-update").on('click',function () {
            var v = $(this).data('id');
            window.location.href="/admin/updateView/"+v;
        });

        // 详细
        $(".one-detail").on('click',function () {
            var v = $(this).data('id');
            window.location.href="/admin/datailView/"+v;
        });

        //删除
        $(".one-del").on('click',function () {
            //当前元素查找父级元素
            var $tr = $(this).closest('tr');
            //获得工号
            var jobNum = $tr.find('td').eq(2).html();
            //获得姓名
            var name = $tr.find('td').eq(3).html();

            var $oneDel= $('#oneDel-modal');

            //设置工号、姓名
            $oneDel.find("#jobNum").text(jobNum);

            $oneDel.find("#name").text(name);

            var myId = $(this).data('id');

            oneDelModal($oneDel,'/admin/delete',myId);

        });

        //删除已选择
        $("#checked-del").on('click',function () {

            var checkedId = checkedIds();

            var $mulDel= $('#mulDel-modal');

            mulDelModal($mulDel,'/admin/delete',checkedId);

        });*/


    });
</script>
</html>