<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head::head_section('活动管理')">

</head>

<body data-type="widgets">
<script th:src="@{/assets/js/theme.js}"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    <div th:replace="fragments/header::header_section"></div>
    <!-- 风格切换 -->
    <div th:replace="fragments/theme::theme_section"></div>
    <!-- 侧边导航栏 -->
    <div th:replace="fragments/left_admin::left_section('activityList')"></div>

    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <!-- 欢迎 -->
        <div th:replace="fragments/header::welcome_section"></div>

        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-cf" th:text="'活动报名：'+${activity.activityName}">活动报名</div>
                            <input type="hidden" id="activityId" th:field="${activity.activityId}">
                        </div>
                        <div class="widget-body am-fr">
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                <div class="am-form-group">
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <!--<a type="button" class="am-btn am-btn-default am-btn-success" href="/activity/addActivityView"><span class="am-icon-plus"></span> 新增</a>-->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div th:replace="fragments/user_search::comm_content"></div>

                            <div class="am-u-sm-12">
                                <div class="am-fr">
                                    <a type="button" class="am-btn am-btn-sm" id="super-search-btn">高级搜索</a>
                                    <a type="button" class="am-btn am-btn-sm" id="excel-user">导出</a>
                                </div>
                            </div>

                            <div class="am-u-sm-12" id="super-search-content" style="display:none;">
                                <div th:replace="fragments/join_search::content(${activity.activityId})"></div>
                            </div>

                            <input type="hidden" th:value="${searchType.toString()}" id="searchType"/>

                            <div class="am-u-sm-12">
                                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black" >
                                    <thead>
                                    <tr>
                                        <th><input type="checkbox" /></th>
                                        <th>序号</th>
                                        <th>工号</th>
                                        <th>姓名</th>
                                        <th>组别</th>
                                        <th>类型</th>
                                        <th>活动名称</th>
                                        <th th:each="activityDef:${activity.activityDefs}" th:text="${activityDef.label}">labelDefs</th>
                                        <th>是否参加</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user:${datas}">
                                        <td><input type="checkbox" th:value="${user.userId}"/></td>
                                        <td th:text="${user.userId}">序号1</td>
                                        <td th:text="${user.jobNum}">工号123456</td>
                                        <td th:text="${user.name}">姓名张三</td>
                                        <td th:text="${user.group.groupName}">组别组一</td>
                                        <td th:text="${user.rank.name}">组长或组员</td>
                                        <td th:text="${activity.activityName}">测试活动</td>
                                        <td th:each="activityDef:${activity.activityDefs}">
                                            <div class="tr-select">
                                                <select data-am-selected="{btnSize: 'sm'}" name="inputDefs">
                                                    <option th:each="inp:${activityDef.inputs}" th:value="${inp}" th:text="${inp}">自定义列 </option>
                                                </select>
                                            </div>
                                        </td>

                                        <td>
                                            <input name="userId" th:value="${user.userId}" type="hidden"/>

                                            <select data-am-selected="{btnSize: 'sm'}" name="attend" class="attend">
                                                <option value="yes" th:text="参加"></option>
                                                <option value="no" th:text="不参加"></option>
                                            </select>
                                        </td>

                                        <td>
                                            <div class="tpl-table-black-operation">
                                                <a th:attr="data-id=${user.userId}" href="javascript:;" class="one-submit">
                                                    <i class="am-icon-pencil"></i> 提交
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--分页-->
                            <div th:replace="fragments/page::page(${datas})"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--alert-->
<div th:replace="fragments/alert::alert_activity"></div>

<div th:replace="fragments/alert::alert_excel"></div>

<div th:replace="fragments/footer::js"></div>
</body>

<script th:src="@{/js/l-checked.js}"></script>
<script th:src="@{/js/l-modalAjax.js}"></script>

<script>
    $(function() {

        //先复制一份form表单，为高级搜索后，点击分页并提交上次表单使用
        var $userSearchFormClone = $('#user-search-form').clone();

        var keyClone = $("#head-select-key").clone();
        var inputClone = $("#head-select-input").clone();

        // 导出数据
        $("#excel-user").on('click',function(){
            //    打开模态框
            $('#uer-excel-modal').modal();
        });

        $("#uer-excel-modal").find('[data-am-modal-confirm]').off('click.confirm.modal.amui').on('click', function() {
            var $form =  $('#export-user-form');
            var $hideForm = $('#hide-form');
            var searchType = $("#searchType").val();
            var activityId = $("#activityId").val();
            var uId = checkedIds();
            for (i=0;i<uId.length;i++){
                $hideForm.append("<input type='hidden' name='selectedChecked' value='"+ uId[i] +"'>");
            }
            var inp = inputClone.val().trim();
            if(searchType == 'search' && inp != ''){
                $form.attr('action','/excel/exportNoJoinUserBy/'+activityId+"/"+keyClone.val()+"/"+inp);
            }else {
                var $searchForm = $userSearchFormClone.clone();
                $searchForm.find("select").each(function () {
                    // 添加元素
                    $hideForm.append(this);
                });
                $form.attr('action','/excel/exportNoJoinUser/'+activityId);
            }
            $form.submit();
            //清除添加的元素
            $hideForm.empty();
        });

        // pageDiv 分页a标签
        $("#pageDiv a").on('click',function () {
            var href = $(this).attr('href');
            $userSearchFormClone.attr("action",href);
            $userSearchFormClone.submit();
            return false;
        });

        // 头部搜索
        $("#head-select-btn").on('click',function(){
            var activityId = $("#activityId").val();
            var key = $("#head-select-key").val();
            var input = $("#head-select-input").val().trim();
            if (input != ''){
                window.location.href="/join/joinNoView/"+activityId+"/"+key+"/"+input;
            }
            if(input == ''){
                window.location.href="/join/joinNoView/"+activityId;
            }
        });

        //高级搜索 super-search-btn super-search-content
        $("#super-search-btn").on('click',function(){
            var $content = $("#super-search-content");
            if($content.is(':hidden')){
                $(this).text('普通搜索');
                $content.show();
            }else{
                $(this).text('高级搜索');
                $content.hide();
            }
        });

        //是否参加change事件
        $(".attend").on('change',function(){
            var $tr = $(this).closest('tr');
            var $div =  $tr.find('.tr-select');
            if ($(this).val() == 'no'){
                $div.hide();
            }else {
                $div.show();
            }
        });

        var userId;
        var inputDefs;
        var attendVal;

        //提交事件
        $(".one-submit").on('click',function () {

            //当前元素查找父级元素
            var $tr = $(this).closest('tr');

            // 不支持 MutationObserver 的浏览器使用 JS 操作 select 以后需要手动触发 `changed.selected.amui` 事件
            $tr.find('select').each(function () {
                $(this).trigger('changed.selected.amui');
            });

            //工号
            var jobNum = $tr.find('td').eq(2).html();
            //姓名
            var name = $tr.find('td').eq(3).html();
            //是否参加
            var attend = $tr.find('.attend option:selected').text();

            var $oneSubmit= $('#oneSubmit-modal');

            $oneSubmit.find("#submit-jobNum").text(jobNum);
            $oneSubmit.find("#submit-name").text(name);
            $oneSubmit.find("#submit-attend").text(attend);

            userId = $(this).data('id');

            inputDefs = new Array();

            $tr.find('select[name="inputDefs"]').each(function () {
                inputDefs.push($(this).val());
            });

            attendVal = $tr.find('.attend option:selected').val();

            $oneSubmit.modal();
        });

        $("#oneSubmit-modal").find('[data-am-modal-confirm]').off('click.confirm.modal.amui').on('click', function() {

            var activityId = $("#activityId").val();

            $.ajaxSettings.traditional=true;
            $.ajax({
                async: false,
                type: 'POST',
                dataType: 'json',
                data:{
                    userId:userId,
                    activityId:activityId,
                    inputDefs:inputDefs,
                    attend:attendVal
                },
                url: '/join/joinActivity',
                error : function(XMLHttpRequest, textStatus, errorThrown) {
                    toastr.error('出现错误！', '错误');
                },
                success: function(data){
                    if (data.codeBool){
                        location.reload();
                    }else {
                        toastr.error(data.message, '操作失败');
                    }
                }
            });
        });

    });
</script>
</html>