<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head::head_section('活动管理')">

</head>

<body data-type="widgets">
<script th:src="@{/assets/js/theme.js}"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    <div th:replace="fragments/header::header_section(Admin)"></div>
    <!-- 风格切换 -->
    <div th:replace="fragments/theme::theme_section"></div>
    <!-- 侧边导航栏 -->
    <div th:replace="fragments/left_admin::left_section('activityList')"></div>

    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">

        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-cf" th:text="'活动已报名：'+${activity.activityName}">活动已报名</div>
                        </div>
                        <div class="widget-body  am-fr">
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                <div class="am-form-group">
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <!--<a type="button" class="am-btn am-btn-default am-btn-success" href="/activity/addActivityView"><span class="am-icon-plus"></span> 新增</a>-->
                                            <a type="button" class="am-btn am-btn-default am-btn-danger" href="javascript:;" id="checked-del"><span class="am-icon-trash-o"></span> 删除</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div th:replace="fragments/user_search::comm_content"></div>

                            <div class="am-u-sm-12">
                                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black" >
                                    <thead>
                                    <tr>
                                        <th>
                                            <input type="hidden" th:value="${activity.activityId}" id="activityId"/>
                                            <input type="checkbox"/>
                                        </th>
                                        <th>序号</th>
                                        <th>工号</th>
                                        <th>姓名</th>
                                        <th>组别</th>
                                        <th th:each="lab:${activity.labelDefs}" th:text="${lab}">labelDefs</th>
                                        <th>是否参加</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="join:${datas}">
                                        <td><input type="checkbox" th:value="${join.joinId}"/></td>
                                        <td th:text="${join.joinId}">序号1</td>
                                        <td th:text="${join.user.jobNum}">工号123456</td>
                                        <td th:text="${join.user.name}">姓名张三</td>
                                        <td th:text="${join.user.group.groupName}">组别组一</td>
                                        <td th:each="inp:${join.inputDefs}" th:text="${inp}">labelDefs</td>
                                        <td th:text="${join.attend.name}">参加不参加</td>

                                        <td>
                                            <div class="tpl-table-black-operation">
                                                <a th:attr="data-id=${join.joinId}" href="javascript:;" class="tpl-table-black-operation-del one-del">
                                                    <i class="am-icon-trash"></i> 删除
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--分页-->
                            <div th:replace="fragments/page::page(${datas})"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--alert-->
<div th:replace="fragments/alert::alert_user_delete"></div>

<div th:replace="fragments/footer::js"></div>
</body>

<script th:src="@{/js/l-checked.js}"></script>
<script th:src="@{/js/l-modalAjax.js}"></script>

<script>
    $(function() {

        // 头部搜索
        $("#head-select-btn").on('click',function(){
            var activityId = $("#activityId").val();
            var key = $("#head-select-key").val();
            var input = $("#head-select-input").val().trim();
            if (input != ''){
                window.location.href="/join/joinOkView/"+activityId+"/"+key+"/"+input;
            }
            if(input == ''){
                window.location.href="/join/joinOkView/"+activityId;
            }
        });

        var joinId;

        //删除
        $(".one-del").on('click',function () {
            //当前元素查找父级元素
            var $tr = $(this).closest('tr');
            //获得工号
            var jobNum = $tr.find('td').eq(2).html();
            //获得姓名
            var name = $tr.find('td').eq(3).html();

            var $oneDel= $('#oneDel-modal');

            //设置工号、姓名
            $oneDel.find("#jobNum").text(jobNum);

            $oneDel.find("#name").text(name);

            joinId = $(this).data('id');

            $oneDel.modal();
        });

        //重写删除报名模态框的确认方法
        $("#oneDel-modal").find('[data-am-modal-confirm]').off('click.confirm.modal.amui').on('click', function() {
            var activityId = $("#activityId").val();
            idAjaxReload('/join/delete/'+activityId,joinId);
        });

        //删除已选择
        $("#checked-del").on('click',function () {

            joinId = checkedIds();

            var $mulDel= $('#mulDel-modal').modal();
        });

        //重写批量删除报名模态框的确认方法
        $("#mulDel-modal").find('[data-am-modal-confirm]').off('click.confirm.modal.amui').on('click', function(){
            var activityId = $("#activityId").val();
            idAjaxReload('/join/delete/'+activityId,joinId);
        });

    });
</script>
</html>