<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head::head_section('修改邮箱')">
</head>

<body data-type="widgets">
    <!--theme.js放到这，快速获得缓存的主题-->
    <script th:src="@{/assets/js/theme.js}"></script>
    <div class="am-g tpl-g">
    <!-- 头部 -->
    <div th:replace="fragments/header::header_section"></div>
    <!-- 风格切换 -->
    <div th:replace="fragments/theme::theme_section"></div>
    <!-- 侧边导航栏 -->
    <div th:replace="fragments/left_admin::left_section('emailUpdateView')"></div>

    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <!-- 欢迎 -->
        <div th:replace="fragments/header::welcome_section"></div>

        <ol class="zz-breadcrumb">
            <li><a href="/admin/emailUpdateView" class="am-icon-bar-chart">修改邮箱</a></li>
        </ol>

        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">修改邮箱</div>
                            <div class="widget-function am-fr">
                                <!--<a href="javascript:;" class="am-icon-cog"></a>-->
                            </div>
                        </div>
                        <div class="widget-body am-fr">

                            <form class="am-form tpl-form-border-form tpl-form-border-br" id="#" action="#">

                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label">邮箱:</label>
                                    <div class="am-u-sm-9 zz-task">
                                       <input type="hidden" th:if="${(admin.email != null)&&(admin.email != '')}" th:value="${(admin.verify != null)}?${admin.verify.toString()}:''" id="verify-value" disabled/>
                                        <span class="task-title-sp" th:text="${(admin.email != null) &&(admin.email != '')}?${admin.email}:'未绑定邮箱'"> 529055293@qq.com</span>
                                        <a class="am-btn am-btn-default label label-sm" id="email-verify" th:if="${(admin.email != null)&&(admin.email != '')}" th:text="${(admin.verify != null)}?${admin.verify.name}:''" th:classappend="(${admin.verify.toString()} eq 'yes')?'label-success':'label-warning'">未验证</a>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3 zz-task error">
                                        <span th:if="(${(admin.verify != null)&&(admin.verify.toString() eq 'no')})">此邮箱未验证，请点击未验证进行验证。如您忘记密码，通过验证成功的邮箱，可找回密码！</span>
                                    </div>
                                </div>

                                <br/>

                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <a type="button" href="/admin/emailAddView" class="am-btn am-btn-primary tpl-btn-bg-color-success" th:text="${(admin.email != null) &&(admin.email != '')}?'修改邮箱':'增加邮箱'"></a>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    </div>

    <!--alert-->
    <div class="am-modal am-modal-confirm" tabindex="-1" id="send-mail-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">发送
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                发送验证邮件？
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer::js"></div>
</body>
    <script>
        $(function () {
            $("#email-verify").on('click',function(){
                //    打开模态框
                $('#send-mail-modal').modal();
            });

            //重写模态框的确认方法
            $("#send-mail-modal").find('[data-am-modal-confirm]').off('click.confirm.modal.amui').on('click', function(){
                var verifyV = $("#verify-value").val();
                if (verifyV == 'no'){
                    //设置btn不可点击
                    $("#email-verify").attr("disabled", true);
                    $("#email-verify").text('正在发送');
                    $.ajax({
                        url: '/mail/sendEmail',
                        type: "POST",
                        dataType: "json",
                        error: function ()
                        {
                            console.log("sendEmail error function!");
                            toastr.error('出现错误！', '错误');
                            $("#email-verify").text('发送出现错误');
                        },
                        success: function (data)
                        {
                            if (data.codeBool){
                                //刷新页面前，把提示信息存入cookie
                                $.cookie("cookie-msg", data.message);
                                //刷新页面
                                location.reload();
                            }else {
                                $("#email-verify").text('发送失败');
                                toastr.error(data.message, '操作失败');
                            }
                        }
                    });
                }else if(verifyV == 'yes'){
                    toastr.error('此账号已完成验证', '操作失败');
                }
            });

        });
    </script>
</html>