<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head::head_section('人员管理')">
</head>

<body data-type="widgets">
<script th:src="@{/assets/js/theme.js}"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    <div th:replace="fragments/header::header_section(Admin)"></div>
    <!-- 风格切换 -->
    <div th:replace="fragments/theme::theme_section"></div>
    <!-- 侧边导航栏 -->
    <div th:replace="fragments/left_admin::left_section('userList')"></div>

    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">

        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">用户列表</div>
                        </div>
                        <div class="widget-body  am-fr">
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                <div class="am-form-group">
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <a type="button" class="am-btn am-btn-default am-btn-success" href="/user/addView"><span class="am-icon-plus"></span> 新增</a>
                                            <a type="button" class="am-btn am-btn-default am-btn-danger" href="javascript:;" id="checked-del"><span class="am-icon-trash-o"></span> 删除</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                                <div class="am-form-group tpl-table-list-select">
                                    <select data-am-selected="{btnSize: 'sm'}"  id="head-select-key">
                                        <option value="search-jobNum">工号</option>
                                        <option value="search-name">姓名</option>
                                    </select>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                    <input type="text" class="am-form-field"  id="head-select-input">
                                    <span class="am-input-group-btn">
            <button id="head-select-btn" class="am-btn am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button"></button>
          </span>
                                </div>
                            </div>

                            <div class="am-u-sm-12">
                                <a type="button" class="am-btn am-btn-sm am-fr" id="super-search-btn">高级搜索</a>
                            </div>

                            <div class="am-u-sm-12" id="super-search-content" style="display:none;">
                                <!--abcd!-->
                                <div th:replace="fragments/user_search::content"></div>
                            </div>

                            <div class="am-u-sm-12">
                                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black">
                                    <thead>
                                    <tr>
                                        <th><input type="checkbox" /></th>
                                        <th>序号</th>
                                        <th>工号</th>
                                        <th>姓名</th>
                                        <th>性别</th>
                                        <th>组别</th>
                                        <th>类型</th>
                                        <th>民族</th>
                                        <th>职务</th>
                                        <th>部门</th>
                                        <th>政治面貌</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user:${datas}">
                                        <td><input type="checkbox" th:value="${user.userId}" /></td>
                                        <td th:text="${user.userId}">1</td>
                                        <td th:text="${user.jobNum}">123456</td>
                                        <td th:text="${user.name}">张三</td>
                                        <td th:text="${user.gender.name}">性别</td>
                                        <td th:text="${user.group.groupName}">组一</td>
                                        <td th:text="${user.rank.name}">组长或组员</td>
                                        <td th:text="${user.nation.nationName}">民族</td>
                                        <td th:text="${user.duty.dutyName}" >职务</td>
                                        <td th:text="${user.department.departmentName}" >部门</td>
                                        <td th:text="${user.politics.politicsName}">政治面貌</td>
                                        <td>
                                            <div class="am-dropdown" data-am-dropdown>
                                                <div class="tpl-table-black-operation">
                                                    <a href="javascript:;" class="am-dropdown-toggle" data-am-dropdown-toggle>
                                                        <i class="am-icon-pencil"></i> 编辑
                                                    </a>
                                                    <a th:attr="data-id=${user.userId}" href="javascript:;" class="tpl-table-black-operation-del one-del">
                                                        <i class="am-icon-trash"></i> 删除
                                                    </a>
                                                    <a th:attr="data-id=${user.userId}" href="javascript:;" class="one-detail">
                                                        <i class="am-icon-cog"></i> 详细
                                                    </a>
                                                </div>
                                                <ul class="am-dropdown-content">
                                                    <li ><a th:attr="data-id=${user.userId}" href="javascript:;" class="one-upd-group" >更改分组</a></li>
                                                    <li ><a th:attr="data-id=${user.userId}" href="javascript:;" class="one-update" >修改基本信息</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--分页-->
                            <div th:replace="fragments/page::page(${datas})"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="am-modal am-modal-confirm" tabindex="-1" id="update-group-modal">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">更改分组
            <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
        </div>
        <div class="am-modal-bd">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            </div>
            <div class="am-u-sm-12" id="result-modal">
            </div>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>

<!--alert-->
<div th:replace="fragments/alert::alert_user_delete"></div>

<div th:replace="fragments/footer::js"></div>

</body>

<script th:src="@{/js/l-checked.js}"></script>

<script th:src="@{/js/l-modalAjax.js}"></script>

<script>
    $(function() {

        //高级搜索 super-search-btn super-search-content
        $("#super-search-btn").on('click',function(){
            var $content = $("#super-search-content");
            if($content.is(':hidden')){
                $(this).text('普通搜索');
                $content.show();
            }else{
                $(this).text('高级搜索');
                $content.hide();
            }
        });

        // 头部搜索
        $("#head-select-btn").on('click',function(){
            var key = $("#head-select-key").val();
            var input = $("#head-select-input").val().trim();
            if (key == 'search-jobNum' && input != ''){
                window.location.href="/user/userList/1/"+input;
            }else if(key == 'search-name' && input != ''){
                window.location.href="/user/userList/2/"+input;
            }
            if(input == ''){
                window.location.href="/user/userList";
            }
        });


        // 修改
        $(".one-update").on('click',function () {
            var v = $(this).data('id');
            window.location.href="/user/updateView/"+v;
        });

        // 详细
        $(".one-detail").on('click',function () {
            var v = $(this).data('id');
            window.location.href="/user/datailView/"+v;
        });

        //删除
        $(".one-del").on('click',function () {
            //当前元素查找父级元素
            var $tr = $(this).closest('tr');
            //获得工号
            var jobNum = $tr.find('td').eq(2).html();
            //获得密码
            var name = $tr.find('td').eq(3).html();

           var $oneDel= $('#oneDel-modal');

            //设置工号、姓名
            $oneDel.find("#jobNum").text(jobNum);

            $oneDel.find("#name").text(name);

            var myId = $(this).data('id');

            oneDelModal($oneDel,'/user/delete',myId);

        });

        //删除已选择
        $("#checked-del").on('click',function () {

            var checkedId = checkedIds();

            var $mulDel= $('#mulDel-modal');

            mulDelModal($mulDel,'/user/delete',checkedId);

        });
        // one-upd-group
    //    更改分组
        $(".one-upd-group").on('click',function () {
            var myId = $(this).data('id');
            console.log("更改分组方法");
            $("#result-modal").load('/user/changeGroupHtml',{value:myId});
            //    打开模态框
            $('#update-group-modal').modal({
                onConfirm: function(options) {
                    var updateGroupId = $("#update-group").val();
                    $.ajax({
                        url: "/user/changeGroup",
                        type: "POST",
                        data:{
                            id:myId,
                            groupId:updateGroupId
                        },
                        error: function ()
                        {
                            console.log("error function!");
                            toastr.error('出现错误！', '错误');
                        },
                        success: function (data)
                        {
                            if (data.codeBool){
                                location.reload();
                            }else {
                                toastr.error(data.message, '操作失败');
                            }
                        }
                    });
                }
            });

        });
    });
</script>

</html>