<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head::head_section('活动管理')">

</head>

<body data-type="widgets">
<script th:src="@{/assets/js/theme.js}"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    <div th:replace="fragments/header::header_section"></div>
    <!-- 风格切换 -->
    <div th:replace="fragments/theme::theme_section"></div>
    <!-- 侧边导航栏 -->
    <div th:replace="fragments/left_grouper::left_section('activityList')"></div>

    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <!-- 欢迎 -->
        <div th:replace="fragments/header::welcome_section"></div>

        <ol class="zz-breadcrumb">
            <li><a href="/activity/activityList" class="am-icon-wpforms">活动管理</a></li>
            <li class="zz-active">活动列表</li>
        </ol>

        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">活动列表</div>
                        </div>
                        <div class="widget-body  am-fr">
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                <div class="am-form-group">
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <!--<a type="button" class="am-btn am-btn-default am-btn-success" href="/activity/addActivityView"><span class="am-icon-plus"></span> 新增</a>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                                <div class="am-form-group tpl-table-list-select">
                                    <select data-am-selected="{btnSize: 'sm'}"  id="head-select-key">
                                        <option value="search-name">活动名称</option>
                                    </select>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                    <input th:field="${commSearch.value}" type="text" class="am-form-field"  id="head-select-input">
                                    <span class="am-input-group-btn">
            <button id="head-select-btn" class="am-btn am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button"></button>
          </span>
                                </div>
                            </div>

                            <div class="am-u-sm-12">
                                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " th:each="activity,iterStat:${datas}">
                                    <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>活动名称</th>
                                        <th th:each="activityDef:${activity.activityDefs}" th:text="${activityDef.label}">labelDefs</th>
                                        <th>是否参加</th>
                                        <th>备注</th>
                                        <th>已报/总数</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <!--<td th:text="${activity.activityId}">1</td>-->
                                        <td th:text="${iterStat.count}+${datas.number*10}">序号1</td>
                                        <td th:text="${activity.activityName}">活动一</td>
                                        <td th:each="activityDef:${activity.activityDefs}">
                                            <select data-am-selected="{btnSize: 'sm',maxHeight: 200}">
                                                <option th:each="inp:${activityDef.inputs}" th:value="${inp}" th:text="${inp}">自定义列 </option>
                                            </select>
                                        </td>
                                        <td>
                                            <select data-am-selected="{btnWidth: '120px',btnSize: 'sm',maxHeight: 200}">
                                                <option>参加</option>
                                                <option>不参加</option>
                                            </select>
                                        </td>
                                        <td>
                                        </td>
                                        <td th:text="${activity.joinOkCount} + '/' + ${activity.userCount}">已报/总数</td>
                                        <td th:text="${activity.activityStatus.name}">草稿活动</td>
                                        <td>
                                            <div class="am-dropdown" data-am-dropdown>
                                                <div class="tpl-table-black-operation">
                                                    <a href="javascript:;" class="am-dropdown-toggle" data-am-dropdown-toggle>
                                                        <i class="am-icon-pencil"></i> 编辑
                                                    </a>
                                                </div>
                                                <ul class="am-dropdown-content">
                                                    <li ><a th:attr="data-id=${activity.activityId}" href="javascript:;" class="one-join-no" >报名</a></li>
                                                    <li ><a th:attr="data-id=${activity.activityId}" href="javascript:;" class="one-join-save" >已保存</a></li>
                                                    <li ><a th:attr="data-id=${activity.activityId}" href="javascript:;" class="one-join-ok" >已报名</a></li>
                                                </ul>
                                            </div>

                               <!--             <div class="tpl-table-black-operation">
                                                <a th:attr="data-id=${activity.activityId}" href="javascript:;" class="one-join-no" >
                                                    <i class="am-icon-pencil"></i> 报名
                                                </a>
                                                <a th:attr="data-id=${activity.activityId}" href="javascript:;" class="tpl-table-black-operation-save one-join-save">
                                                    <i class="am-icon-save"></i> 已保存
                                                </a>
                                                <a th:attr="data-id=${activity.activityId}" href="javascript:;" class="tpl-table-black-operation-del one-join-ok" >
                                                    <i class="am-icon-trash"></i> 已报
                                                </a>
                                            </div>-->

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--分页-->
                            <div th:replace="fragments/page::page(${datas})"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--alert-->
<div th:replace="fragments/alert::alert_activity"></div>

<div th:replace="fragments/footer_grouper::js"></div>
</body>

<script th:src="@{/js/l-checked.js}"></script>
<script th:src="@{/js/l-modalAjax.js}"></script>

<script>
    $(function() {

        var activityId;

        // 头部搜索
        $("#head-select-btn").on('click',function(){
            var input = $("#head-select-input").val().trim();
            if (input != ''){
                window.location.href="/activity/activityList/"+input;
            }else {
                window.location.href="/activity/activityList";
            }
        });

        //待报名界面
        $(".one-join-no").on('click',function () {
            var v = $(this).data('id');
            window.location.href="/join/joinNoView/"+v;
        });

        //保存界面
        $(".one-join-save").on('click',function () {
            var v = $(this).data('id');
            window.location.href="/join/joinDraftView/"+v;
        });

        //已经报名界面
        $(".one-join-ok").on('click',function () {
            var v = $(this).data('id');
            window.location.href="/join/joinOkView/"+v;
        });

    });
</script>
</html>