<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head::head_section('新增邮箱')">
</head>

<body data-type="widgets">
    <!--theme.js放到这，快速获得缓存的主题-->
    <script th:src="@{/assets/js/theme.js}"></script>
    <div class="am-g tpl-g">
    <!-- 头部 -->
    <div th:replace="fragments/header::header_section"></div>
    <!-- 风格切换 -->
    <div th:replace="fragments/theme::theme_section"></div>
    <!-- 侧边导航栏 -->
    <div th:replace="fragments/left_grouper::left_section('emailUpdateView')"></div>

    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <!-- 欢迎 -->
        <div th:replace="fragments/header::welcome_section"></div>

        <ol class="zz-breadcrumb">
            <li><a href="/grouper/emailUpdateView" class="am-icon-bar-chart">修改邮箱</a></li>
        </ol>

        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">修改邮箱</div>
                            <div class="widget-function am-fr">
                                <!--<a href="javascript:;" class="am-icon-cog"></a>-->
                            </div>
                        </div>
                        <div class="widget-body am-fr">

                            <form class="am-form tpl-form-border-form tpl-form-border-br" id="emailUpdateForm" action="#">

                                <div class="am-form-group">
                                    <label for="email" class="am-u-sm-3 am-form-label"><span class="txt-impt">*</span>邮箱</label>
                                    <div class="am-u-sm-9">
                                        <input name="email" type="email" class="tpl-form-input" id="email" placeholder="输入邮箱">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="emailCfm" class="am-u-sm-3 am-form-label"><span class="txt-impt">*</span>确认邮箱</label>
                                    <!--data-equal-to密码验证-->
                                    <div class="am-u-sm-9">
                                        <input name="emailCfm" type="email" class="tpl-form-input" id="emailCfm" placeholder="再次输入邮箱">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success">确定</button>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    </div>

    <!--alert-->

    <div th:replace="fragments/footer_grouper::js"></div>


</body>

<!--jquery验证-->
<script th:src="@{/js/jquery.validate.min.js}"></script>
<script th:src="@{/js/messages_zh.min.js}"></script>

<script th:src="@{/js/l-validate.js}"></script>

<script>
    $(function () {
        // 提交时验证表单，small元素包裹错误信息
        $("#emailUpdateForm").validate({
            submitHandler:function(form){
                var myform = $("#emailUpdateForm");
                //ajax提交form
                // formAjaxNoReload(myform,"/grouper/emailUpdate");
                $.ajax({
                    url: '/grouper/emailUpdate',
                    type: "POST",
                    data: myform.serialize(),
                    dataType: "json",
                    error: function ()
                    {
                        console.log("emailUpdateForm error function!");
                        toastr.error('出现错误！', '错误');
                    },
                    success: function (data)
                    {
                        if (data.codeBool){
                            //刷新页面前，把提示信息存入cookie
                            $.cookie("cookie-msg", data.message);
                            location.href='/grouper/emailUpdateView';
                        }else {
                            toastr.error(data.message, '操作失败');
                        }
                    }
                });
            }
        });
    });
</script>
</html>