<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head::head_section('修改密码')">
</head>

<body data-type="widgets">
    <!--theme.js放到这，快速获得缓存的主题-->
    <script th:src="@{/assets/js/theme.js}"></script>
    <div class="am-g tpl-g">
    <!-- 头部 -->
    <div th:replace="fragments/header::header_section"></div>
    <!-- 风格切换 -->
    <div th:replace="fragments/theme::theme_section"></div>
    <!-- 侧边导航栏 -->
    <div th:replace="fragments/left_grouper::left_section('pwdUpdateView')"></div>

    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <!-- 欢迎 -->
        <div th:replace="fragments/header::welcome_section"></div>

        <ol class="zz-breadcrumb">
            <li><a href="/admin/pwdUpdateView" class="am-icon-bar-chart">修改密码</a></li>
        </ol>

        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">修改密码</div>
                            <div class="widget-function am-fr">
                                <!--<a href="javascript:;" class="am-icon-cog"></a>-->
                            </div>
                        </div>
                        <div class="widget-body am-fr">

                            <form class="am-form tpl-form-border-form tpl-form-border-br" id="pwdUpdateForm" action="#">

                                <div class="am-form-group">
                                    <label for="password" class="am-u-sm-3 am-form-label">旧密码</label>
                                    <div class="am-u-sm-9">
                                        <input name="oldPassword" type="password" class="tpl-form-input" id="oldPassword" placeholder="输入密码(6-10位)">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="password" class="am-u-sm-3 am-form-label">新密码</label>
                                    <div class="am-u-sm-9">
                                        <input name="password" type="password" class="tpl-form-input" id="password" placeholder="输入密码(6-10位)">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="passwordCfm" class="am-u-sm-3 am-form-label">确认密码</label>
                                    <!--data-equal-to密码验证-->
                                    <div class="am-u-sm-9">
                                        <input name="passwordCfm" type="password" class="tpl-form-input" id="passwordCfm" placeholder="再次输入密码">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success">提交</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    </div>

    <!--alert-->
    <div th:replace="fragments/alert::alert_section"></div>

    <div th:replace="fragments/footer_grouper::js"></div>
</body>

<!--jquery验证-->
<script th:src="@{/js/jquery.validate.min.js}"></script>
<script th:src="@{/js/messages_zh.min.js}"></script>

<script th:src="@{/js/l-validate.js}"></script>

<script>
    $(function () {
        // 提交时验证表单，small元素包裹错误信息
        $("#pwdUpdateForm").validate({
            submitHandler:function(form){
                var myform = $("#pwdUpdateForm");
                //ajax提交form
                formAjaxNoReload(myform,"/grouper/pwdUpdate");
            }
        });
    });
</script>

</html>