<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="alert_section">

    <div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm">
        <div class="am-modal-dialog">
            <div class="am-modal-hd" id="my-confirm-hd">删除记录
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd" id="my-confirm-bd">
                你，确定要删除这条记录吗？
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>

</div>

<div th:fragment="alert_user_delete">

    <!--用户批量删除modal-->
    <div class="am-modal am-modal-confirm" tabindex="-1" id="mulDel-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">批量删除
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>

    <!--用户单个删除modal-->
    <div class="am-modal am-modal-confirm" tabindex="-1" id="oneDel-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">删除
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <label>工号：</label>
                <label id="jobNum"></label><br/>
                <label>姓名：</label>
                <label id="name"></label><br/>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>

</div>

<div th:fragment="alert_user_exist">

    <!--设置为在世人员-->
    <div class="am-modal am-modal-confirm" tabindex="-1" id="oneExistOK-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">恢复为在世人员
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <label>工号：</label>
                <label class="jobNum"></label><br/>
                <label>姓名：</label>
                <label class="name"></label><br/>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>

</div>


<div th:fragment="alert_group_delete">

    <!--组删除modal-->
    <div class="am-modal am-modal-confirm" tabindex="-1" id="mulDel-group-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">批量删除
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <label class="am-text-danger">提示：所选组的所有用户将被移到"未分组"</label>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>

    <!--组单个删除modal-->
    <div class="am-modal am-modal-confirm" tabindex="-1" id="oneDel-group-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">删除
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <label>组名：</label>
                <label id="groupName"></label><br/>
                <label class="am-text-danger">提示：此组的<label id="count"></label>个用户将被移到"未分组"</label>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>

</div>

<div th:fragment="alert_group_user_remove">

    <!--组删除modal-->
    <div class="am-modal am-modal-confirm" tabindex="-1" id="mulDel-group-user-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">批量移除
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <label class="am-text-danger">提示：所选的所有用户将被移到"未分组"</label>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>

    <!--组单个删除modal-->
    <div class="am-modal am-modal-confirm" tabindex="-1" id="oneDel-group-user-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">移除
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <label>工号：</label>
                <label id="group-user-jobNum"></label><br/>
                <label>姓名：</label>
                <label id="group-user-name"></label><br/>
                <label class="am-text-danger">提示：此用户将被移到"未分组"</label><br/>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>

</div>

<div th:fragment="alert_activity">

    <!--发布活动-->
    <div class="am-modal am-modal-confirm" tabindex="-1" id="onePublish-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">发布活动
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <label>活动名称：</label>
                <label id="publish-activityName"></label><br/>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>

    <!--单个删除活动-->
    <div class="am-modal am-modal-confirm" tabindex="-1" id="oneDel-activity-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">删除活动
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <label>活动名称：</label>
                <label id="del-activityName"></label><br/>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>

    <!--活动报名-->
    <div class="am-modal am-modal-confirm" tabindex="-1" id="oneSubmit-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">活动报名
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <label>工号：</label>
                <label id="submit-jobNum"></label><br/>
                <label>姓名：</label>
                <label id="submit-name"></label><br/>
                <label>是否参加：</label>
                <label id="submit-attend"></label><br/>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>

</div>

</body>
</html>