<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <!--头部logo、搜索框、欢迎语、退出-->
    <header th:fragment="header_section">
        <div class="top-pic">
            <img th:src="@{/img/head.gif}" alt="" oncontextmenu="return false" onselectstart="return false" ondragstart="return false"/>
        </div>
    </header>

         <!--右侧内容 -->
    <div class="tpl-header-fluid" th:fragment="welcome_section">
         <!--侧边切换-->
        <div class="am-fl tpl-header-switch-button am-icon-list">
            <span></span>
        </div>

        <!--其它功能-->
        <div class="am-fr tpl-header-navbar">
            <ul>
                <!--欢迎语-->
                <li class="am-text-sm tpl-header-navbar-welcome">
                    <a href="javascript:;" >欢迎你, <span th:text="|${session.login_user.role.name}(${session.login_user.name}, ${session.login_user.jobNum})|">Amaze UI</span> </a>
                </li>

                 <!--退出-->
                <li class="am-text-sm">
                    <a href="/logout">
                        <span class="am-icon-sign-out"></span> 退出
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
