<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head::head_section('人员管理')">
</head>
<body>
<div th:fragment="left_section(activeId)">
    <div class="left-sidebar">
    <!-- 用户信息 -->
    <div class="tpl-sidebar-user-panel">
        <div class="tpl-user-panel-slide-toggleable">
            <div class="tpl-user-panel-profile-picture">
                <img th:src="@{/assets/img/user04.png}" alt="">
            </div>
            <span class="user-panel-logged-in-text">
              <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
             <span th:text="|${session.login_user.role.name}|"></span>
          </span>
        </div>
    </div>

    <!-- 菜单 -->
    <ul class="sidebar-nav">
        <li class="sidebar-nav-heading">Components <span class="sidebar-nav-heading-info"> 附加组件</span></li>

        <li class="sidebar-nav-link">
            <a href="/group/index" id="home"  th:class="(${activeId} eq 'home')?'active':''">
                <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
            </a>
        </li>

        <li class="sidebar-nav-link">
            <a href="javascript:;" class="sidebar-nav-sub-title">
                <i class="am-icon-user sidebar-nav-link-logo"></i> 人员管理
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub">

                <li class="sidebar-nav-link">
                    <a th:href="@{/user/userList}" id="userList" th:class="(${activeId} eq 'userList')?'active':''">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 组员
                    </a>
                </li>

            </ul>
        </li>

        <li class="sidebar-nav-link">
            <a href="javascript:;" class="sidebar-nav-sub-title">
                <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 活动管理
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub">
                <li class="sidebar-nav-link">
                    <a href="/activity/activityList" id="activityList" th:class="(${activeId} eq 'activityList')?'active':''">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 活动列表
                    </a>
                </li>

            </ul>
        </li>

        <li class="sidebar-nav-link">
            <a href="/grouper/pwdUpdateView" id="pwdUpdateView" th:class="(${activeId} eq 'pwdUpdateView')?'active':''">
                <i class="am-icon-wrench sidebar-nav-link-logo"></i>修改密码
            </a>
        </li>

    </ul>
    </div>
</div>
</body>
</html>