<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="page(datas)">
    <div class="am-u-lg-12 am-cf">
        <div class="am-fr">
            <!--总页数小于等于7-->
            <ul th:if="${datas.totalPages le 7}" class="am-pagination tpl-pagination">
                <li th:if="${datas.number > 0}">
                    <a th:href="@{?page={page}(page=${datas.number-1})}" class="">上一页</a>
                </li>
                <li th:each="i : ${#numbers.sequence(1, datas.totalPages)}" th:classappend="${(datas.number + 1) eq i} ? 'am-active' : ''">
                    <a th:href="@{?page={page}(page=${i-1})}" th:text="${i}">1</a>
                </li>
                <li th:unless="${datas.number + 1 == datas.totalPages}">
                    <a th:href="@{?page={page}(page=${datas.number+1})}" class="">下一页</a>
                </li>
            </ul>
            <!--总页数大于7-->
            <ul th:if="${datas.totalPages gt 7}" class="am-pagination tpl-pagination">
                <li th:if="${datas.number > 0}">
                    <a th:href="@{?page={page}(page=${datas.number-1})}" class="">上一页</a>
                </li>
                <!--第一页-->
                <li th:classappend="${(datas.number + 1) eq 1} ? 'am-active' : ''">
                    <a th:href="@{?page={page}(page=0)}">1</a>
                </li>
                <!--当前页面小于等于4-->
                <li th:if="${(datas.number + 1) le 4}" th:each="i : ${#numbers.sequence(2,5)}" th:classappend="${(datas.number + 1) eq i} ? 'am-active' : ''" >
                    <a th:href="@{?page={page}(page=${i-1})}" th:text="${i}">2</a>
                </li>
                <!--小于等于4时-->
                <li th:if="${(datas.number + 1) le 4}">
                    <a href="javascript:void(0);"><span aria-hidden="true">...</span></a>
                </li>
                <!--最后一页与当前页面之差，小于等于3-->
                <li th:if="${(datas.totalPages-(datas.number + 1)) le 3}">
                    <a href="javascript:void(0);" ><span aria-hidden="true">...</span></a>
                </li>
                <li th:if="${(datas.totalPages-(datas.number + 1)) le 3}" th:each="i : ${#numbers.sequence(datas.totalPages-4, datas.totalPages-1)}" th:classappend="${(datas.number + 1) eq i} ? 'am-active' : ''" >
                    <a th:href="@{?page={page}(page=${i-1})}" th:text="${i}">6</a>
                </li>
                <!--最后一页与当前页面之差大于3，且首页与当前页面之差大于4-->
                <li th:if="${((datas.number + 1) gt 4) && ((datas.totalPages-(datas.number + 1)) gt 3 )}">
                    <a href="javascript:void(0);"><span aria-hidden="true">...</span></a>
                </li>
                <li th:if="${((datas.number + 1) gt 4) && ((datas.totalPages-(datas.number + 1)) gt 3 )}"
                    th:classappend="${(datas.number + 1) eq (datas.number + 1)} ? 'am-active' : ''">
                    <a th:href="@{?page={page}(page=${datas.number})}" th:text="${datas.number+1}">number</a>
                </li>
                <li th:if="${((datas.number + 1) gt 4) && ((datas.totalPages-(datas.number + 1)) gt 3 )}">
                    <a th:href="@{?page={page}(page=${datas.number+1})}" th:text="${datas.number+2}">number</a>
                </li>
                <li th:if="${((datas.number + 1) gt 4) && ((datas.totalPages-(datas.number + 1)) gt 3 )}">
                    <a th:href="@{?page={page}(page=${datas.number+2})}" th:text="${datas.number+3}">number</a>
                </li>
                <li th:if="${((datas.number + 1) gt 4) && ((datas.totalPages-(datas.number + 1)) gt 3 )}">
                    <a href="javascript:void(0);">
                        <span aria-hidden="true">...</span>
                    </a>
                </li>
                <!--最后一页-->
                <li th:classappend="${(datas.number + 1) eq datas.totalPages} ? 'am-active' : ''" >
                    <a th:href="@{?page={page}(page=${datas.totalPages-1})}" th:text="${datas.totalPages}">endPage</a>
                </li>
                <!--下一页-->
                <li th:unless="${datas.number + 1 == datas.totalPages}">
                    <a th:href="@{?page={page}(page=${datas.number+1})}" class="">下一页</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>