/*验证、错误信息颜色*/
.error{
    color:red;
}
/*去世用户行的颜色*/
.pass-user{
    color:red;
}

/*去掉type="number"后的箭头*/
input[type=number] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/*头部图片*/
.theme-white .top-pic {
    height: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background: #fff;
}
.theme-black .top-pic {
    height: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.top-pic img{
    height: 130px;
}
/*登陆图片*/
.login-pic{
    height: 180px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}
.login-pic img{
    height: 180px;
}