/*验证、错误信息颜色*/
.error{
    color:red;
}
/*去世用户行的颜色*/
.pass-user{
    color:red;
}

/*去掉type="number"后的箭头*/
input[type=number] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/*头部图片*/
.theme-white .top-pic {
    height: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background: #fff;
}
.theme-black .top-pic {
    height: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.top-pic img{
    height: 130px;
}
/*登陆图片*/
.login-pic{
    height: 180px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}
.login-pic img{
    height: 180px;
}

/*链接链*/
.zz-breadcrumb{
    font-size: 85%;
}
.zz-breadcrumb>li {
    display: inline-block;
}
.zz-breadcrumb>li+li:before {
    content: "\00bb\00a0";
    padding: 0 8px;
    color: #ccc;
}
.zz-breadcrumb>.zz-active {
    color: #999;
}
.zz-breadcrumb>li [class*=am-icon-]:before {
    color: #999;
    margin-right: 5px;
}
ol.zz-breadcrumb{
    margin-bottom: 0px;
}
