<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head::head_section('登陆')">
</head>

<body data-type="login">
    <!--theme.js放到这，快速获得缓存的主题-->
    <script th:src="@{/assets/js/theme.js}"></script>
    <div class="am-g tpl-g">
        <!-- 风格切换 -->
        <div th:replace="fragments/theme::theme_section"></div>
        <div class="tpl-login">
            <div class="tpl-login-content">
         <!--       <div class="tpl-login-logo">
                </div>-->
                <div class="login-pic">
                    <img th:src="@{/img/logo.png}" oncontextmenu="return false" onselectstart="return false" ondragstart="return false"/>
                </div>
                <form class="am-form tpl-form-line-form" id="loginForm" action="/loginPost" method="post">
                    <div class="am-form-group">
                        <input type="number" class="tpl-form-input" name="jobNum" id="jobNum" placeholder="请输入工号">
                    </div>

                    <div class="am-form-group">
                        <input type="password" class="tpl-form-input" name="password" id="password" placeholder="请输入密码">
                    </div>
                    <div class="am-form-group tpl-login-remember-me">
                        <input type="checkbox" id="rem"/>
                        <label>记住密码</label>
                        <label onclick="location.href='/forgetView'" class="am-btn am-btn-sm am-fr">忘记密码？</label>
                    </div>

                    <div class="am-form-group">
                        <div class="am-u-sm-9">
                            <input type="submit" class="am-btn am-btn-primary  am-btn-block tpl-btn-bg-color-success tpl-login-btn" value="登陆" />
                        </div>
                        <div class="am-u-sm-3">
                            <select name="loginType" id="loginType" data-am-selected="{dropUp: 1, btnWidth:'90%',btnSize:'sm',btnStyle:'secondary'}">
                                <option value="0">管理员</option>
                                <option value="1">组长</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script th:src="@{/assets/js/amazeui.min.js}"></script>
    <script th:src="@{/assets/js/app.js}"></script>
    <script th:src="@{/js/toastr.min.js}"></script>
    <script th:src="@{/js/comm.js}"></script>

    <!--jquery验证-->
    <script th:src="@{/js/jquery.validate.min.js}"></script>
    <script th:src="@{/js/messages_zh.min.js}"></script>

    <script th:src="@{/js/l-validate.js}"></script>

    <script th:src="@{/js/jquery.cookie.js}"></script>
</body>
<script>

    $(function () {

        // 提交时验证表单，small元素包裹错误信息
        $("#loginForm").validate({
            submitHandler:function(form){
                var myform = $("#loginForm");
                $.ajax({
                    url: "/loginPost",
                    type: "POST",
                    data: myform.serialize(),
                    dataType: "json",
                    async:false,
                    error: function ()
                    {
                        console.log("login error function!");
                        toastr.error('出现错误！', '错误');
                    },
                    success: function (data)
                    {
                        if (data.codeBool){
                            save();
                            location.href=data.data;
                        }else {
                            toastr.error(data.message, '登陆失败');
                        }
                    }
                });
            }
        });
        if($.cookie("rmbUser") == "true"){
            $("#jobNum").val($.cookie("c_jobNum"));
            $("#password").val($.cookie("c_password"));
            $("#rem").attr("checked", true);

            // 不支持 MutationObserver 的浏览器使用 JS 操作 select 以后需要手动触发 `changed.selected.amui` 事件
            $('#loginType').find('option').eq($.cookie("c_loginType")).attr('selected', true);
            $('#loginType').trigger('changed.selected.amui');
        }
    });

    //  记住用户名密码
    function save() {
        if($("#rem").is(":checked")){
            var str_jobNum = $("#jobNum").val();
            var str_password = $("#password").val();
            var sel_loginType = $("#loginType").val();
            $.cookie("rmbUser", "true",{expires:7});
            $.cookie("c_jobNum",str_jobNum,{expires:7});
            $.cookie("c_password",str_password,{expires:7});
            $.cookie("c_loginType",sel_loginType,{expires:7});
        }else {
            $.cookie("rmbUser", "false",{expires:-1});
            $.cookie("c_jobNum","",{expires:-1});
            $.cookie("c_password","",{expires:-1});
            $.cookie("c_loginType","0",{expires:-1});
        }
    }

</script>

</html>